name: MLOps CI-CD Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install huggingface_hub joblib pandas scikit-learn xgboost dill

  # - name: Deploy to Hugging Face Space
  #   env:
  #     HF_TOKEN: ${{ secrets.HF_TOKEN }}
  #   run: |
  #     cd model_building
  #     python deploy.py
